@import "~bootstrap/scss/bootstrap";

body{
    background-color: #2c3e50;
    color: #1abc9c;
}

.previewer{
    background-color: #ecf0f1;
    padding: 15px;
    min-height: 350px;
    border-radius: 10px;
}


.editor{
    background-color: white;
    padding: 15px;
    min-height: 350px;
    width: 100%;
    border-radius: 10px;
}


textarea::-webkit-scrollbar {
    width: 0.5em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: #2c3e50;
  border-radius: 10px;
}

@media screen and (max-width: 577px) {
    .editor{
       min-height: 150px;
    }
}
@media (min-width: 577px) and (max-width: 767px) {
    .editor{
        min-height: 150px;
     }
}
@media (min-width: 768px) and (max-width: 991px) {
    .editor{
        min-height: 150px;
     }
}